<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>show army show!</h1>
    <br>
    <table border='1'>
        <tr>
            <td>순번</td>
            <td>연도</td>
            <td>제품</td>
        </tr>

    {% for d in data %}
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.year}}</td>
            <td>{{d.name}}</td>
        </tr>
    {% endfor %}

    </table>    
</body>
</html>